{% extends "base.html.twig" %}
{% block title %}Profile - Symfony Bootcamp
{% endblock %}

{% block body %}
	<h1>User Profile</h1>
	<p>
		Username:
		{{ username }}
	</p>
	<p>
		Email:
		{{ age }}
	</p>
{% endblock %}
